[Unit]
Description=mastodon-sidekiq
After=network.target

[Service]
Type=simple
User=mastodon
WorkingDirectory=/home/mastodon/live
Environment="RAILS_ENV=production"
Environment="MALLOC_ARENA_MAX=2"
Environment="DB_POOL=5"
Environment="LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so.2"
ExecStart=/usr/local/rbenv/shims/bundle exec sidekiq -c 5
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
